<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function modify_ok(){

          var obj = {"id":$("#id").val(),"title":$("#title").val(), "content":$("#content").val()};
          $.ajax({
              url:"/api/boards/{{board.id}}",
              type:"PUT",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(obj),
              dataType:"json",
              success:function(data){
                  alert("제목 :" + data.title + ", 내용 :" + data.content);
                  location.href = "/board";
              },error:function(xhr){
                     alert(xhr.status);
                      const error = JSON.parse(xhr.responseText);
                      alert(error.message);
              }
          });
      }
    </script>
</head>
<body>
<h2> 게시글 수정 </h2>

<form method="post" action="/board/modify">
    글 번호 : {{board.id}} <input type="hidden" name="id" id="id" value="{{board.id}}"><br/>
    제목 : <input type="text" name="title" id="title" value="{{board.title}}"><br/>
    내용 : <textarea name="content" id="content">{{board.content}}</textarea><br/>
    <button> 수정하기 </button> <input type="button" value="Ajax로 글 수정하기" onclick="modify_ok();">
</form>

</body>
</html>