{{> layout/top}}

<h1> 회원 정보 확인하기 </h1>
아이디 : {{mem.id}} <br/>
비밀번호 : {{mem.password}} <br/>
이름 : {{mem.name}} <br/>
나이 : {{mem.age}} <br/>
지역 : {{mem.addr}} <br/>
연락처 : {{mem.mobile}} <br/>
<button><a href="/home"> 홈으로 돌아가기 </a></button>

{{> layout/bottom}}